* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

html, body {
    width: 100%;
    min-height: 100vh;
    background: url(../images/bg.jpg) 50% 50% no-repeat;
    background-size: cover;
}

p, a {
    font-size: 16px;
    text-decoration: none;
    color: #a2a2a2;
    transition: all .5s;
    line-height: 100%;
}

i {
    position: relative;
    color: #fff;
    top: 1.5px;
}

.nav {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    border-radius: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, .25);
}

.nav-top {
    position: absolute;
    width: 1000%;
    height: 300px;
    border-radius: 10px;
    display: none;
    opacity: 0;
    transform: scale(0.9);
    padding: 0 10px !important;
}

.nav-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 60px;
    display: flex;
    gap: 6px;
    padding: 12px 10px 10px 10px;
}

.nav-home {
    flex: 1;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s;
    padding: 0 20px !important;
}

.hamburger {
    color: #fff;
    display: grid;
    place-items: center;
    font-size: 22px;
}

.nav-home:hover {
    background: rgba(0, 0, 0, 0.75);
}

.nav-home .nav-item {
    gap: 10px;
}

.nav-items {
    flex: 4;
    height: 100%;
}

.nav-home .nav-item,
.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items {
    gap: 6px;
}

.nav-items > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    transition: all .5s;
}

.nav-items .nav-item:hover {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-items .nav-item:hover a {
    color: #fff;
}

.more-links {
    padding: 20px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
}

.link a {
    color: #fff; 
}

.col {
    position: relative;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.col > div {
    flex: 1;
    padding: 10px 15px;
}

.col::before {
    position: absolute;
    content: '';
    top: 30px;
    left: 0;
    width: 1px;
    height: 85%;
    display: block;
    border-left: 1px solid rgba(255, 255, 255, .25);
    border-style: dashed;
}

.col-title {
    position: relative;
    margin-bottom: -25px;
}

.col-title p {
    position: relative;
    opacity: 0.75;
}

.col-title p::before {
    position: absolute;
    content: '';
    top: 6px;
    left: -16px;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background: #fff;
    display: block;
}


@media (max-width: 900px) {
    .nav {
        width: 100%;
        bottom: 0;
    }

    p,a {
        font-size: 14px;
    }

    .nav-home .nav-item {
        gap: 5px;
    }
}



















